{% extends 'base.html' %}
{% block content %}


    <div class="channel-container">
        <!-- 通栏广告 -->
        <!--<a class="create-man-banner" href="/activity/independence/ts-newye2017" target="_blank"><img src="//oss-xpc0.xpccdn.com/Upload/boss/2018/01/155a5c92f6ca3e0.jpeg"></a>-->

        <div class="choose-bar-v2">
            <div class="type-up">
                <div class="type-mark fs_14 fw_300 c_b_3 mar-bottom">
                    <span class="mark">分类</span>
                    <div class="type-global">
                    <span class="cur" data-type="cate" data-id="0"><a class="fs_14 fw_300 c_b_3"
                                                                      href="http://www.xinpianchang.com/channel/index/id-0/sort-like?from=articleListPage">全部作品</a></span>
                        <span class="hovered" data-type="cate" data-id="2">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-2/sort-like?from=articleListPage">广告/宣传片</a>
						</span>
                        <span class="" data-type="cate" data-id="1">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-1/sort-like?from=articleListPage">剧情短片</a>
						</span>
                        <span class="" data-type="cate" data-id="121">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-121/sort-like?from=articleListPage">网络电影</a>
						</span>
                        <span class="" data-type="cate" data-id="13">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-13/sort-like?from=articleListPage">创意/实验</a>
						</span>
                        <span class="" data-type="cate" data-id="11">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-11/sort-like?from=articleListPage">纪录片</a>
						</span>
                        <span class="" data-type="cate" data-id="3">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-3/sort-like?from=articleListPage">MV</a>
						</span>
                        <span class="" data-type="cate" data-id="10">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-10/sort-like?from=articleListPage">混剪/配音</a>
						</span>
                        <span class="" data-type="cate" data-id="12">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-12/sort-like?from=articleListPage">特殊摄影</a>
						</span>
                        <span class="" data-type="cate" data-id="7">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-7/sort-like?from=articleListPage">栏目/网剧</a>
						</span>
                        <span class="" data-type="cate" data-id="5">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-5/sort-like?from=articleListPage">动画</a>
						</span>
                        <span class="" data-type="cate" data-id="9">
							<a class="fs_14 fw_300 c_b_3"
                               href="http://www.xinpianchang.com/channel/index/id-9/sort-like?from=articleListPage">预告片/花絮</a>
						</span>
                        <span class="" data-type="cate" data-id="vr"><a class="fs_14 fw_300 c_b_3"
                                                                        href="http://www.xinpianchang.com/channel/index/type-vr/sort-vmovier?from=articleListPage">VR</a></span>
                    </div>
                </div>


            </div>
            <div class="type-down">
                <div class="sort-type fw_300 c_b_9">
                <span class="tab fs_16  pick v-center select" data-type="sort" data-id="recommend"><a
                        href="javascript:;">热门</a></span>
                    <i class="i-icon v-center fs_16"></i>

                    <span class="tab fs_16 pick v-center " data-type="sort" data-id="count_liked"><a
                            href="http://www.xinpianchang.com/channel/index/id-0/sort-pick/type-0?from=articleListPage">精选</a></span>
                    <i class="i-icon v-center fs_16"></i>
                    <span class="tab fs_16 last v-center " data-id="addtime" data-type="sort"><a
                            href="http://www.xinpianchang.com/channel/index/id-0/sort-addtime/type-0?from=articleListPage">最新</a></span>


                </div>

            </div>
        </div>


        <div class="choose-bar dn">
            <div class="xpc-stat type-1 article-type" data-event="clickArticleChannel">
			<span class="article-type-btn fs_16 fw_600 c_b_3">
															全部作品
																</span>
                <i class="icon-triangle-down"></i>
                <div class="common-hover-wrap type-child clearfix">
                    <div class="inner-wrap">
                        <div class="type-2-list-wrap">
                            <ul class="type-2-list">
                                <li data-type="cate" data-id="0"><a class="fs_14 fw_300 c_b_3"
                                                                    href="http://www.xinpianchang.com/channel/index/id-0/sort-like">全部作品</a>
                                </li>
                                <li data-type="cate" data-id="2" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-2/sort-like">广告/宣传片</a>
                                </li>
                                <li data-type="cate" data-id="1" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-1/sort-like">剧情短片</a>
                                </li>
                                <li data-type="cate" data-id="121" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-121/sort-like">网络电影</a>
                                </li>
                                <li data-type="cate" data-id="13" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-13/sort-like">创意/实验</a>
                                </li>
                                <li data-type="cate" data-id="11" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-11/sort-like">纪录片</a>
                                </li>
                                <li data-type="cate" data-id="3" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-3/sort-like">MV</a>
                                </li>
                                <li data-type="cate" data-id="10" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-10/sort-like">混剪/配音</a>
                                </li>
                                <li data-type="cate" data-id="12" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-12/sort-like">特殊摄影</a>
                                </li>
                                <li data-type="cate" data-id="7" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-7/sort-like">栏目/网剧</a>
                                </li>
                                <li data-type="cate" data-id="5" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-5/sort-like">动画</a>
                                </li>
                                <li data-type="cate" data-id="9" class="more">
                                    <a class="fs_14 fw_300 c_b_3"
                                       href="http://www.xinpianchang.com/channel/index/id-9/sort-like">预告片/花絮</a>
                                </li>
                                <li data-type="cate" data-id="vr"><a class="fs_14 fw_300 c_b_3"
                                                                     href="http://www.xinpianchang.com/channel/index/type-vr/sort-vmovier">VR</a>
                                </li>
                            </ul>


                        </div>
                        <div class="type-3-list-wrap">
                            <ul class="type-3-creator type-3-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sort-type v-center">
                <a class="tab fs_16 fw_300 c_b_9 select v-center" href="javascript:;">热门</a>
                <i class="slash-icon v-center fs_16">/</i>
                <a class="tab fs_16 fw_300 c_b_9  v-center"
                   href="http://www.xinpianchang.com/channel/index/id-0/sort-addtime/type-0">最新</a>
                <i class="slash-icon v-center fs_16">/</i>
                <a class="tab fs_16 fw_300 c_b_9  v-center"
                   href="http://www.xinpianchang.com/channel/index/id-0/sort-pick/type-0">精选</a>
            </div>
        </div>
        <div class="channel-con">
            <ul class="video-list">
                {% for post in posts %}
                    <li class="enter-filmplay" data-articleid="{{ post.pid }}" data-videourl="ArticleList">
                        <a class="video-cover" href="javascript:;">
                            <img class="lazy-img" _src="{{ post.thumbnail }}">
                            <span class="duration fs_12">02' 00''</span>
                            <div class="video-cover-con">
                                <div class="video-mark">
                                    <span class="pick square"><svg width="24" height="24" viewBox="0 0 60 60"
                                                                   version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                   xmlns:xlink="http://www.w3.org/1999/xlink"><g
                                            id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g
                                            id="web切片" transform="translate(-911.000000, -490.000000)"><g id="Group"
                                                                                                          transform="translate(911.000000, 490.000000)"><circle
                                            id="Oval-8" fill="#000000" cx="30" cy="30" r="30"></circle><polygon
                                            id="Rectangle-7-Copy" fill="#F7F7F7"
                                            points="21.5625 17.8125 38.4375 17.8125 38.4375 42.1875 30 35.5397727 21.5625 42.1875"></polygon></g></g></g></svg></span>
                                    <div class="list-tags"></div>
                                </div>
                                <p class="fs_12">{{ post.category }}</p>
                            </div>
                            <div class="video-hover-con">
                                <div class="fs_12 fw_300 c_w_f desc line-hide-3">{{ post.composers.0.name }}作曲/演唱作品</div>
                                <p class="fs_12">{{ post.created_at }} 发布</p>
                            </div>
                        </a>
                        <div class="video-con">
                            <a href="javascript:;">
                                <p class="fs_14 fw_600 c_b_3 line-hide-1">{{ post.title }}</p>
                            </a>
                            <div class="video-view fs_12 fw_300 c_b_9">
                                <span class="type">播放</span>
                                <span class="fw_600">{{ post.play_counts }}</span>
                                <span class="i-icon v-center"></span>
                                <span class="type">喜欢</span><span class="fw_600">{{ post.like_counts }}</span>
                            </div>
                            <div class="user-info">
                                <a class="user-link v-center enter-creator-space" href="javascript:;"
                                   data-userid="{{ post.composers.0.cid }}">
                                    {% if post.composers|length > 1 %}
                                        <span class="authors-head-wrap" data-userid="{{ post.composers.0.cid }}">
                                {% for composer in post.composers %}
                                    <img class="avator v-center" src="{{ composer.avatar }}">
                                    <span class="author-v {{ composer.verified }}"></span>
                                {% endfor %}
							    </span>
                                        <span class="name fs_12 fw_300 c_b_3 v-center line-hide-1">
                                    {{ post.composers|length }}位创作人 /{{ post.composers.0.role }}
                                </span>
                                    {% else %}
                                        <span class="head-wrap" data-userid="{{ post.composers.0.cid }}">
                                    <img class="avator v-center" src="{{ post.composers.0.avatar }}">

                                </span>
                                        <span class="name fs_12 fw_300 c_b_3 v-center line-hide-1">
                                    {{ post.composers.0.name }}/{{ post.composers.0.role }}
                                    </span>
                                    {% endif %}
                                </a>

                                {% if post.composers|length > 1 %}
                                    <div class="authors-wrap">
                                        <ul class="authors-list">
                                            {% for composer in post.composers %}
                                                <li class="head-wrap" data-userid="{{ composer.cid }}">
                                                    <a href="/u{{ composer.cid }}" target="_blank">
										<span class="avator-wrap">
											<img class="avator" src="{{ composer.avatar }}" alt="">
                                            <span class="author-v {{ composer.verified }}"></span>
                                        </span>
                                                        <div class="info">
                                                            <p class="name fs_12 fw_300 c_b_3 line-hide-1">{{ composer.name }}</p>
                                                            <div class="roles fs_12 fw_300 c_b_9 line-hide-1">{{ composer.role }}</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                <span class="role fs_12 fw_300 c_b_9 v-center line-hide-1">声音设计</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>

            <div class="page-wrap">
                <div class="page"><span class="current">1</span> <a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-2">2</a><a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-3">3</a><a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-4">4</a><a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-5">5</a><a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-6">6</a> <span
                        class="page-points">...</span> <a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-2572"
                        title="尾页">2572</a><a
                        href="http://www.xinpianchang.com/channel/index/type-0/sort-like/page-2" title="下一页"><span
                        class="arrow-page icon-arrow-right"></span></a></div>
            </div>
        </div>
    </div>
{% endblock %}